## Version 2022/10/04 - Changelog: https://github.com/linuxserver/docker-smokeping/commits/master/root/defaults/nginx/site-confs/default.conf.sample

server {
    listen 80 default_server;
    listen [::]:80 default_server;

    listen 443 ssl http2 default_server;
    listen [::]:443 ssl http2 default_server;

    server_name _;

    location / {
      return 301 http://$http_host/smokeping/smokeping.cgi;
    }

    location = /smokeping/smokeping.cgi {
      fastcgi_intercept_errors on;
      fastcgi_param QUERY_STRING    $query_string;
      fastcgi_param REQUEST_METHOD    $request_method;
      fastcgi_param CONTENT_TYPE    $content_type;
      fastcgi_param CONTENT_LENGTH    $content_length;
      fastcgi_param REQUEST_URI   $request_uri;
      fastcgi_param DOCUMENT_URI    $document_uri;
      fastcgi_param DOCUMENT_ROOT   $document_root;
      fastcgi_param SERVER_PROTOCOL   $server_protocol;
      fastcgi_param GATEWAY_INTERFACE   CGI/1.1;
      fastcgi_param SERVER_SOFTWARE   nginx/$nginx_version;
      fastcgi_param REMOTE_ADDR   $remote_addr;
      fastcgi_param REMOTE_PORT   $remote_port;
      fastcgi_param SERVER_ADDR   $server_addr;
      fastcgi_param SERVER_PORT   $server_port;
      fastcgi_param SERVER_NAME   $server_name;
      fastcgi_param HTTPS   $https if_not_empty;
      fastcgi_param SCRIPT_FILENAME   /usr/share/webapps/smokeping/smokeping.cgi;

      fastcgi_pass  unix:/run/fcgiwrap.sock;
    }

    location ^~ /smokeping/ {
      root /usr/share/webapps;
      index smokeping.cgi;
      gzip off;
    }

    # deny access to .htaccess/.htpasswd files
    location ~ /\.ht {
        deny all;
    }
}
